*.DS_Store
/.af_instances
/.af_token
/.adobe
/.bash_history
/.cache
/.CFUserTextEncoding
/.chef
/.composer
/.config
/.cups
/.dbshell
/.dropbox
/.gdgipqnrc
/.gem
/.heroku
/.irb-history
/.lesshst
/.mongorc.js
/.mutt
/.mysql_history
/.netrc
/.NERDTreeBookmarks
/.npm
/.pry_history
/.psql_history
/.rnd
/.rvm
/.sh_history
/.ssh
/.subversion
/.tbiwaban
/.Trash
/.vagrant.d
/.vim-fuf-data
/.vim-tmp
/.vim/.netr*
/.vimfuzzyfinder
/.viminfo
/.zcompdump
/.zsh_history

# Home Directories
/Applications
/Assets
/code
/Desktop
/Documents
/Downloads
/Dropbox
/Elance
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/src
/tmp
/Work
/VirtualBox VMs
