*.DS_Store
/.af_instances
/.af_token
/.adobe
/.bash_history
/.berkshelf
/.cache
/.CFUserTextEncoding
/.chef
/.cocoapods
/.composer
/.config/*
/.cups
/.dbshell
/.dropbox
/.dropbox-master
/.gdgipqnrc
/.gem
/.heroku
/.irb-history
/.lesshst
/.lldb-history
/.local
/.mongorc.js
/.mutt
/.mysql_history
/.netrc
/.NERDTreeBookmarks
/.node-gyp
/.npm
/.pearrc
/.php_history
/.pry_history
/.psql_history
/.psysh
/.rnd
/.rvm
/.sh_history
/.shopify
/.ssh
/.sqlite_history
/.subversion
/.tbiwaban
/.Trash
/.travis
/.vagrant.d
/.vim-fuf-data
/.vim-tmp
/.vim/.netr*
/.vimfuzzyfinder
/.viminfo
/.zcompdump
/.zsh_history

# Home Directories
/Applications
/Applications (Parallels)
/Assets
/bin/node_modules
/code
/Desktop
/Documents
/Downloads
/Dropbox
/Elance
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/src
/tmp
/Work
/VirtualBox VMs

# Overrides
!/.config/fish
/.config/fish/fish_history
/.config/fish/generated_completions
/.config/fish/fishd*
